* {
  margin: 0;
  padding: 0;
  cursor: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0PSIzNiI+CiAgPHBhdGggZmlsbD0iI0ZGNDE4QiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIGQ9Im0yMCAyNSAyIDZjMCAyLTQgNC03IDQtMiAwLTMtMi01LTVsLTUgMmMtMyAwLTQtNi00LTE1QzEgOSAxIDMgMyAxYzItMSA3IDIgMTMgOCA2IDQgMTAgOSAxMCAxMXMtMiA0LTYgNVoiLz4KICA8cGF0aCBmaWxsPSIjRkY4NTlGIiBkPSJNNCA1YzEtMyAzLTEgNSAxLTUtMi01IDYtNCAyMkMzIDIxIDMgOCA0IDVaIi8+Cjwvc3ZnPg==') 6 5, pointer;
}

body,
#id0 /* #viewport */ {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#id1 /* #world */ { 
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(var(--cx));
}

/**
 * Text panels
 */

#id11, /* #weaponLabel */
#wind,
#hp,
#id14, /* #captions */
.weapon {
  background: #000;
  border: 2px solid var(--c, #fff);
  box-shadow: 0 0 0 3px #000, inset 0 0 0 4px #000;
  border-radius: 5px;
  white-space: nowrap;
}

/**
 * Weapons
 */

#id10 /* #weapons */ {
  position: absolute;
  left: 50vw;
  top: 26px;
  transform: translate(-50%, -150px);
  white-space: nowrap;
}

#id11 /* #weaponLabel */ {
  position: absolute;
  top: 90px;
  left: 50vw;
  height: 14px;
  padding: 6px;
  transform: translate(-50%, -150px);
}

.weapon {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-right: 12px;
  box-shadow: 0 0 0 3px #222;
  background: #fff;
}

.weapon svg {
  width: 100%;
  height: 100%;
}

.weapon.active {
  border-color: #8AE000;
  background: #8AE000;
}

/**
 * Messages/captions.
 */

#id14 /* #msg */ {
  position: absolute;
  bottom: 68px;
  left: 50vw;
  height: 14px;
  padding: 6px;
  transform: translate(-50%, 150px);
}

/**
 * UI: Wind direction bar.
 */

#wind {
  position: absolute;
  left: 50vw;
  bottom: 26px;
  width: 398px;
  height: 26px;
  background: linear-gradient(to right, #f00, #ff0, #0f0, #ff0, #f00);
  transform: translate(-50%, 150px);
}

#wind * {
  position: absolute;
  top: 3px;
  width: 100px;
  height: 20px;
  background: #222;
}

#id12 /* #windleft */ {
  left: 4px;
}

#id13 /* #windright */ {
  right: 4px;
}

#winddiv {
  top: 0;
  width: 2px;
  height: 26px;
  background: #fff;
  left: calc(50% - 1px);
}

/**
 * Text glyphs
 */

#id15 /* #glyph */ {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(data:image/gif;base64,R0lGODdhEQEHAIAAAAAAAP///yH5BAgKAAAALAAAAAARAQcAAAL/BIKGG8r3IJvLTQNlxRpH31hhdlFiY3bnprZfkmiXxGXnCqJzR+mxXAv+LA7S6LWBjYq14e+5zIWUTWUECc0ek8uYVir12ZwwJs2GRj+GZjVLBwpy2JWvqAqeR+nbuLA+tdcDaOfyxoLn9gU347UFV/SR42ckAylnpeAmN1d1OZimeDW6goS5wzeYYmjniOgYZjnadRhISbZo67kjGhbV9FdaaCYZWghFnMJ3wIPaY/QczIRcYsKbddt39xedN3a0TckpfVxru5xoOv14LpjnjE4FmJ1MRGONfOZHa18fV05Mj8BxBJMpWzNrlR5nloBo6WaqGjcx9yQ97GRQ27dGDQ9B8droKt+NFgUTFQAAOw==);
  background-size: auto 14px;
  image-rendering: pixelated;
  border-right: 2px solid #000;
}

.flash {
  filter: brightness(100);
}

#hp {
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  padding: 4px;
  text-wrap: nowrap;
  border: none;
  background: var(--c);
}

#hp #id15 /* #glyph */ {
  mix-blend-mode: multiply;
}

#waves {
  animation: 500ms ease-in-out infinite alternate waves;
}

@keyframes waves {
  from { d: path('M0,0 Q40,50 80,15 Q120,50 160,0 L160,100 L0,100 Z') }
  to { d: path('M0,15 Q40,50 80,0 Q120,50 160,15 L160,100 L0,100 Z') }
}

/* id10=#weapons, id11=#weaponLabel, id14=#captions */
.started :is(#id10, #id11, #id14, #wind) {
  transform: translate(-50%, 0);
  transition: transform 1s ease-out;
}

#w8 {
  filter: hue-rotate(220deg);
}

#w2 {
  filter: saturate(0) brightness(2.5);
}

#id7 /* #targetlock */ {
  filter: hue-rotate(250deg);
}

#hide {
  display: none;
}
