* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(#0068E0, #00B2E0) fixed;
}

body,
#id0 /* #viewport */ {
  width: 100vw;
  height: 100vh;
}

#id2, #id19, #id20, #hp /* #world, #svg, #svg2 */ {
  position: absolute;
  top: 0;
  left: 0;
}

/**
 * Text panels
 */

#id1, #id11, #id14, #id22, #id23, #id24, #id25, #id26, #wind, #hp, .weapon /* #timer, #weaponLabel, #captions, #menu1, #menu2, #menu3 */ {
  background: #000;
  border: 2px solid var(--c, #fff);
  box-shadow: 0 0 0 3px #000, inset 0 0 0 4px #000;
  border-radius: 5px;
  white-space: nowrap;
}

/**
 * User interface
 */

#id1, #id10, #id11, #id14, #wind /* #weapons, #weaponLabel, #captions */ {
  position: fixed;
  left: 50vw;
}

#id1 {
  left: 56px;
  bottom: 26px;
  padding: 8px 12px;
  width: 32px;
  transform: translate(-50%, 150px);
}

/**
 * Weapons
 */

#id10 /* #weapons */ {
  top: 26px;
  transform: translate(-50%, -150px);
  white-space: nowrap;
}

#id11 /* #weaponLabel */ {
  top: 90px;
  height: 14px;
  padding: 8px 12px;
  transform: translate(-50%, -150px);
}

.weapon {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-right: 12px;
  box-shadow: 0 0 0 3px #222;
  background: #fff;
}

.weapon svg {
  width: 100%;
  height: 100%;
}

.weapon.active {
  border-color: #8AE000;
  background: #8AE000;
}

/**
 * Messages/captions.
 */

#id14 /* #msg */ {
  bottom: 68px;
  height: 14px;
  padding: 8px 12px;
  transform: translate(-50%, 150px);
}

/**
 * UI: Wind direction bar.
 */

#wind {
  bottom: 26px;
  width: 398px;
  height: 30px;
  background: linear-gradient(to right, #f00, #ff0, #0f0, #ff0, #f00);
  transform: translate(-50%, 150px);
}

#wind * {
  position: absolute;
  top: 3px;
  width: 100px;
  height: 24px;
  background: #000;
}

#id12 /* #windleft */ {
  left: 4px;
}

#id13 /* #windright */ {
  right: 4px;
}

#winddiv {
  top: 0;
  width: 2px;
  height: 30px;
  background: #fff;
  left: calc(50% - 1px);
}

/**
 * Text glyphs
 */

#id15 /* #glyph */ {
  display: inline-block;
  width: 14px;
  height: 14px;
  /* background: url(data:image/gif;base64,R0lGODdhEQEHAIAAAAAAAP///yH5BAgKAAAALAAAAAARAQcAAAL/BIKGG8r3IJvLTQNlxRpH31hhdlFiY3bnprZfkmiXxGXnCqJzR+mxXAv+LA7S6LWBjYq14e+5zIWUTWUECc0ek8uYVir12ZwwJs2GRj+GZjVLBwpy2JWvqAqeR+nbuLA+tdcDaOfyxoLn9gU347UFV/SR42ckAylnpeAmN1d1OZimeDW6goS5wzeYYmjniOgYZjnadRhISbZo67kjGhbV9FdaaCYZWghFnMJ3wIPaY/QczIRcYsKbddt39xedN3a0TckpfVxru5xoOv14LpjnjE4FmJ1MRGONfOZHa18fV05Mj8BxBJMpWzNrlR5nloBo6WaqGjcx9yQ97GRQ27dGDQ9B8droKt+NFgUTFQAAOw==); */
  background: url(data:image/gif;base64,R0lGODdhHwEHAIAAAAAAAP///yH5BAgKAAAALAAAAAAfAQcAAAL/BIKGG8r3IJvLTQNlxRpH31hhdlFiY3bnprZfkmiXxGXnCqJzR+mxXAv+LMEiiDR6bWAjh7D5izZzIWatklJKt8kltNrlUn22IdZJtKnVjyH6/WJPr1OWm07Nc8T7uv/41me1JmOiFYao9wRnd8bkxahz9JEDiFRI2EdzIGfkQdflKWf4twIGWahUlELY45ooohezU4bo05MWmyZl6YIF9sQ6aju3tyjqhatrSdkK2zmMOsmz44qkjIfGW0LKMsocuiwo7Asnnim6dqe5fOjkdjfbCMg3CC7fCA/8CF1Lj49p3iZ67LzxmvRM3qde69IdM8IlArdk5EwhbINxDCtVGtyCkaFBK6KxSOFqzcj36lapk6rGnHMYyGEBADs=);
  background-size: auto 14px;
  image-rendering: pixelated;
  border-right: 2px solid #000;
}

.flash {
  filter: brightness(100);
}

#hp {
  transform: translate(var(--x), var(--y));
  padding: 4px;
  text-wrap: nowrap;
  border: none;
  background: var(--c);
  will-change: transform;
}

#hp #id15 /* #glyph */ {
  mix-blend-mode: multiply;
}

#waves {
  animation: 500ms ease-in-out infinite alternate waves;
}

@keyframes waves {
  from { d: path('M0,0 Q40,50 80,15 Q120,50 160,0 L160,100 L0,100 Z') }
  to { d: path('M0,15 Q40,50 80,0 Q120,50 160,15 L160,100 L0,100 Z') }
}

/* id10=#weapons, id11=#weaponLabel, id14=#captions */
.started :is(#id1, #id10, #id11, #id14, #wind) {
  transform: translate(-50%, 0);
  transition: transform 1s ease-out;
}

#w8 {
  filter: hue-rotate(220deg);
}

#w2 {
  filter: saturate(0) brightness(2.5);
}

#hide {
  display: none;
}

#menu {
  position: fixed;
  top: 100px;
  left: 50%;
  height: 200px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#id22, #id23, #id24, #id25, #id26 {
  opacity: 0;
  padding: 8px 12px;
  transition: opacity .5s ease;
}
